@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper{ width: 97%;}
header{ background-color: #fffdff;}
.recipe_box{ text-align: center; }
.recipe_box span{ display: block; }
.recipe_box a{ text-transform: capitalize; }
h1{ display: flex;}
header li:not(:first-child){ margin-top: 20px; }

.logo a{
  text-indent: -9999px;
  display: inline-block;
}

header ul{
  display: flex;
  justify-content: space-between;
}

header input[type="text"]{
  font-size: large;
  width: 112%;
  border: none;
} 

header li:not(:nth-child(2)){
  font-size: small;
  text-transform: uppercase;
}

header a{
  color: #7c7787;
  font-weight: bold;
}

.recipe_box span,.subscribe a{ 
  color: #b36561;
  font-weight: bold;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  Banner section styling starts here
=================================*/
.banner{ 
  
  background-image: url('https://via.placeholder.com/1286x491');}

.banner .wrapper{ 
  width: 97%; 
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bookmark::before{
  content: '\f097   ';
  font-family: FontAwesome;  
}

.facebook{
  text-indent: -9999px;
  display: inline-block;
}

.facebook::before{
  content: '\f09a';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.pinterest{
  text-indent: -9999px;
  display: inline-block;
}

.pinterest::before{
  content: '\f231';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.share{
  text-indent: -9999px;
  display: inline-block;
}

.share::before{
  content: '\f064';
  font-family: FontAwesome;
  text-indent: 0;
  float: right;
}

.banner .links a{
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}

.banner .links{
  position: absolute;
  bottom: 0;
  left: 0;
}


.daily > span{
  text-transform: uppercase;
  background-color: #db3e35;
  color: #fff;
  font-weight: bold;
}
.daily{
  margin-top: 35px;
  margin-bottom: 72px;
  width: 40%;
}

.daily_recipe{
  background-color: #fff;
  width: 53%;
  text-align: center;
  padding: 57px 27px 26px 27px;
}
.daily_recipe > span{
  text-transform: capitalize;
  font-size: 30px;
  line-height: 130%;
}

.daily_recipe img{
  display: inline-block;
  border-radius: 100%;
}
.daily_recipe p{
  line-height: 150%;
  margin: 15px 0px;
  color: #7c7c7c;
}
.daily_recipe a span{
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}
/*=================================
  Banner section styling ends here
=================================*/

/*=================================
 Suggestions section styling starts here
=================================*/









/*=================================
  Suggestions section styling ends here
=================================*/

/*=================================
 Editors section styling starts here
=================================*/









/*=================================
 Editors section styling ends here
=================================*/

/*=================================
 Master section styling starts here
=================================*/









/*=================================
  Master section styling ends here
=================================*/

/*=================================
 Newsletter section styling starts here
=================================*/









/*=================================
  Newsletter section styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 
